server:
  port: 8082

spring:
  application:
    name: conference-service
  config:
    import: optional:configserver:http://localhost:9999
  cloud:
    config:
      fail-fast: false
  datasource:
    url: jdbc:h2:mem:conferencedb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

resilience4j:
  circuitbreaker:
    instances:
      keynoteService:
        register-health-indicator: true
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50

spring.security.oauth2.resourceserver.jwt:
  issuer-uri: http://localhost:8080/realms/conference-realm
  jwk-set-uri: http://localhost:8080/realms/conference-realm/protocol/openid-connect/certs

