server:
  port: 8081

spring:
  application:
    name: keynote-service
  config:
    import: optional:configserver:http://localhost:9999
  cloud:
    config:
      fail-fast: false
  datasource:
    url: jdbc:h2:mem:keynotedb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

spring.security.oauth2.resourceserver.jwt:
  issuer-uri: http://localhost:8080/realms/conference-realm
  jwk-set-uri: http://localhost:8080/realms/conference-realm/protocol/openid-connect/certs

